<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= link_to "Search tags to add",{:controller => 'tags', :action => 'new_tags', :product_id => @product, identifier: 'product'},{:remote => true,:method => 'get'}%>
  </div>

  <div class="field">
      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
      <%#= f.text_field :tag_list %>
    </div>

  <span id="tags_inputs">
    <%#= tags_text_field(@book, @available_tags) %>
  </span>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
